/* Fonts: */

/* Applica Ubuntu Sans Mono a tutti gli elementi */
h1, h2, h3, h4, .h1, .h2, .h3 {
    font-family: "Ubuntu Sans Mono", serif;
    font-weight: 300; 
    font-optical-sizing: auto;
}
* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-style: normal;
    color: black;
}

:root{
    --white-pink: rgb(255, 233, 236);
    --purple: rgb(145, 87, 95);
    --pink:  rgb(235, 168, 168);
    --neon-pink: rgb(160, 0, 51);
}

.bg-warning{
    background-color: var(--neon-pink);
}

.bg-danger-subtle{
    background-color: var(--pink);
}

.bg-light{
    background-color: var(--white-pink);
}

.bg-primary-subtle {
    background-color: var(--purple) !important;
}

.text-danger{
    color: var(--neon-pink);
}

.text-danger-emphasis {
    color: var(--pink)
}

.text-light {
    color: var(--white-pink);
}

.text-primary {
    color: var(--purple);
}

/* Navbar */
.navbar{
    height: 140px;
    transition: 0.4s;
}

.nav-link {
    color: var(--purple);
    font-weight: 700;
}

.nav-link:hover {
    color: white !important;
    text-shadow: 3px 3px 6px var(--neon-pink), -3px -3px 6px var(--neon-pink);
}


.logo{
    width: 70px;
}
